<div class="about">
    <p>
        Address<br/><br/>
        Mundapurath Madhavi Nivas House Chulliparamb, <br/>FarookCollege PO<br/> Calicut Kerala <br/>Inida– 673632<br/><br/>
        Phone<br/>
        +918086046407<br/><br/>
        E-mail<br/>
        saimv09@gmail.com<br/><br/>
        Date of birth<br/>
        1990/10/13
    </p>
    <p>


        Languages
    <br/><br/>
        English<br/>
        Malayalam (Mother Tounge) <br/>Tamil<br/>
        Hindi
    </p>
    <p>
        Education<br/><br/>
        M.Tech Computer Application( Bits Pilani)<br/>
        • Computer Application <br/>• Percentage : 56%<br/><br/>
        College Of Applied Science, Vazhakkad ( Calicut University)<br/>
        • BSc. Computer Science <br/>• First class with 67%<br/><br/>
        IHRD Higher Secondary School Vazhakkad<br/>
        • Computer Science <br/>• Percentage : 70%<br/><br/>
        Sevamandiram Post Basic School Ramanattukara <br/>• Percentage : 70%
    </p>

</div>