<div class=" main-container"style="height:100%;width: 100%;position: absolute;overflow-y: scroll;overflow-x: hidden">

<div id="contact" class="text-center">
  <div class="container">
    <!--<div class="section-title center">-->
      <!--<h2>Get in Touch</h2>-->
      <!--<div class="line">-->

      <!--</div>-->
    <!--</div>-->
    <!--<div class="gap"></div>-->
    <!--<pre>-->
      <!--<h1 class="address">Reshma Sara George</h1>-->
      <!--<div class="address">+919448792729</div>-->
    <!--<div class="address">reshmasarageorge@gmail.com</div>-->
    <!--</pre>-->
    <!--<div class="address">Want to get in touch with me?  just feel free to drop me a line anytime. </div>-->

    <section class="section section-white">
      <div class="container">
        <h1>Get in touch with me!</h1>
        <hr />


            <div class="name-hero">
              <!--<div class="me-img"></div>-->
              <div class="name-text">
                <h1>Sai <em>M V</em></h1>
                <p>Calicut, Kerala, India</p>
                <p>saimv09@gmail.com</p>
                <p>+08086046407</p>
              </div>
            </div>

            <div id="contact-form">
              <div id="message"></div>
              <!--<form method="post" action="php/contact.php" name="contactform" id="contactform">-->
              <form name="contactform" id="contactform">

                <input name="name" type="text" id="name"  class="inputForm2" placeholder="Name"  >
                <input name="email" type="text" id="email" placeholder="Email">
                <textarea name="comments"  id="comments" placeholder="Message"  ></textarea>
                <input type="submit" class="send_message transition" id="submit" value="Send Message" />
              </form>
            </div>


      </div>
    </section>
  </div>
</div>
<!--<section class="section section-white">-->
  <!--<div class="container">-->
    <!--<h1>Laat wat van je horen!</h1>-->
    <!--<hr />-->
    <!--<div class="row">-->
      <!--<div class="col-sm-3">-->

        <!--<div class="name-hero">-->
          <!--<div class="me-img"></div>-->
          <!--<div class="name-text">-->
            <!--<h1>Kevin <em>Tipker</em></h1>-->
            <!--<p>Assen, Nederland </p>-->
            <!--<p>kevintipker@info.nl</p>-->
            <!--<p>+316 46460336</p>-->
          <!--</div>-->
        <!--</div>-->


      <!--</div>-->

    <!--</div>-->
  <!--</div>-->
<!--</section>-->
<!--<hr />-->
<!--<section class="section section-gray background-img">-->
  <!--<div class="row">-->
    <!--<div class="col-sm-8 col-sm-offset-2">-->
      <!--<p class="section-paragraph white">Je kunt me ook hier vinden:</p>-->
      <!--<p class="section-paragraph"><a-->
              <!--href="mailto:dave@pahgawks.com" class="button">kevintipker@gmail.com</a> <a-->
              <!--href="https://davepvm.tumblr.com/" class="button" target="_blank">Tumblr</a> <a-->
              <!--href="http://pahgawk.deviantart.com/" class="button" target="_blank">Tippie</a> <a-->
              <!--href="http://pahgawk.newgrounds.com/" class="button" target="_blank">Newgrounds</a> <a-->
              <!--href="https://www.youtube.com/pahgawk" class="button" target="_blank">YouTube</a> <a-->
              <!--href="https://www.twitter.com/davepvm" class="button" target="_blank">Twitter</a> <a-->
              <!--href="http://pahgawks.bandcamp.com/" class="button" target="_blank">Bandcamp</a> <a-->
              <!--href="https://soundcloud.com/davidpvm" class="button" target="_blank">Soundcloud</a>-->
      <!--</p>-->
    <!--</div>-->
  <!--</div>-->
  <!---->
<!--</section>-->
</div>
<div class="letter-image" style="display: none;">
    <div class="animated-mail">
        <div class="back-fold"></div>
        <div class="letter">
            <div class="letter-border"></div>
            <div class="letter-title"></div>
            <div class="letter-context"></div>
            <div class="letter-stamp">
                <div class="letter-stamp-inner"></div>
            </div>
        </div>
        <div class="top-fold"></div>
        <div class="body"></div>
        <div class="left-fold"></div>
    </div>
    <div class="shadow"></div>
</div>