.about  p {
  font-size: 1em;
  text-align: left;
  padding: 2%;
  color: #ffffffbd;
  border-top: 5px solid rgba(64, 59, 59, 0.6);
  word-break: break-word;
  background-color: rgba(68, 74, 76, 0.48);
}
.about{
  padding: 1%;
  padding-top:50px;
  width:90%;
  margin-left: 4%;
}
