<div class="about">
    <p>
        My Career
        Senior Software Engineer
        Wipro Technologies PvtLTD
        Experience in web applications and cross platform application development using HTML 5, Javascript, CSS, Ionic 2, Angular JS and Angular 2 frameworks.
        •Experience in Software components design Creating HLD and LLD using EA (Enterprise Architect) tool.
        •Expertise in using SCM tools and worked on SVN.
        •Expertise in Developing and Debugging of Application in ADT like Intellij, Android Studio and Eclipse.
        •Experience in Design and Development on the Diabetes featuring android application project running on customized OS and Hardware with Core Java.
        •iOS Application development using Objective C and Xamarin C#
        •Worked on developing cross platform applications for surgical medical devices in iOS and Windows using Xamarin and Xcode IDEs
        •Agile software development experience using SCRUM.
        •Design and setup of build automation, NUnit, JUnit testing environments and data storage for mobile and mobile web apps.
    </p>

    <p>
        Skills
        Angular JS, Javascript, Ionic2
        HTML5 CSS
        Android Development , Core Java
        iOS Mobile App Development Using Xcode in Objective-C and Xamarin in C#
        Web App development Using VisualStudio in .Net

    </p>
    <p>
        Technologies
        Static analysis tools like find bugs, check style, PMD
        JUnit And NUnit
        Bugzilla
        Enterprise Architecture


    </p>


</div>