<!-- <flash-screen *ngIf="flashScreen"></flash-screen>  -->
<div #mainContainer class= "main-page-container page scroll-container" data-morph-open="M158.5,0H0v53.1c0,0,19.6-4.6,66-0.2s60.5-3.8,92.5-0.1V0z" data-morph-trans="M158.5,0H0v53.1c0,0,35.4,15.4,82,13.8s76.5-14.1,76.5-14.1V0z" ><!--  *ngIf="!flashScreen"-->
    <!-- <nav-bar></nav-bar> -->
    <app-about-me></app-about-me>
    
    <!-- <home-screen ></home-screen> -->
   
    <!-- <skill-set-details ></skill-set-details>
        <video-player></video-player>
    <app-about-me></app-about-me>
<educational-details></educational-details>
<personal-details></personal-details>
    <project-details-cards></project-details-cards>  -->
   
    <!-- <prfile-details></prfile-details> -->
    <!-- <horizondal-line></horizondal-line> 
    <company-experience-details></company-experience-details>
    <text-animation></text-animation> -->
    <!-- <backround-animation>
    </backround-animation> -->
    <!--  -->
    <!-- <ntro-screen></ntro-screen>  -->
   
    <!-- 
    <project-details-cards *ngIf="!flashScreen"></project-details-cards> -->
    <!-- <text-animation></text-animation>  -->
    
    <!-- <educational-details></educational-details> -->
    <!-- <personal-details></personal-details> -->
    <!-- <skill-set-details ></skill-set-details>
        <details-tab></details-tab>

    <footer class="designed" *ngIf="!flashScreen">
        <h4>Design by <a href="" target="_blank" title="José Pino">@Sai</a></h4>
     </footer> -->

</div>
