<div class="button-section">
  <button id="but1"><i class="fa fa-user-secret" aria-hidden="true"></i><div class="sub-text">About Me</div></button>
  <button id="but2"><i class="fa fa-graduation-cap" aria-hidden="true"></i><div class="sub-text">Education</div></button>
  <button id="but2"><i class="fa fa-trophy" aria-hidden="true"></i><div class="sub-text">My Career</div></button>
  <button id="but3"><i class="fa fa-tachometer" aria-hidden="true"></i><div class="sub-text">Experience</div></button>
  <button id="but4"><i class="fa fa-area-chart " aria-hidden="true"></i><div class="sub-text">About Me</div></button>
</div>