<!--The content below is only a placeholder and can be replaced.-->
<app-slider-menu-indicator></app-slider-menu-indicator>
<!--<app-firstlook-selection-box></app-firstlook-selection-box>-->
<!--<app-project-selection-box></app-project-selection-box>-->
<!--<app-about-me-selection-box></app-about-me-selection-box>-->
<!--<app-getintouchwith-selectionbox></app-getintouchwith-selectionbox>-->
<!--<app-skillset-selection-box></app-skillset-selection-box>-->
<!--<div style="height:calc(100% - 20px)">-->
<div >
    <router-outlet></router-outlet>
</div>
