<div class="container">
    <div class="profilecontent">
      <div class="profilepic"></div>
      <h1>Jane Doe</h1>
      <h2>Explorer. Devoted food lover. Travel enthusiast.</h2>
      <div class="button-container">
        <button id="PhotoCount">
          102
          <h4>Photos</h4>
        </button>
        <button id="Followers">
          15K
          <h4>Followers</h4>
        </button>
        <button id="Following">
          574
          <h4>Following</h4>
        </button>
      </div>
    </div>
  </div>
  