<!-- <div class="description-panel page-about-me  ">

  <div class="title">About me</div>
  <div class="page panel-content">
    <p >
        Hi there,<br />
    </p>
    <p *ngFor="let description of aboutMe.roleData">
     {{description}}
    </p>
      <ul >
        <li class="checked" *ngFor="let skillsList of aboutMe.skillData">
            <div class="check"></div>
            <div class="text">{{skillsList}}</div>
          </li>
    </ul>
  </div>
</div> -->

<!-- <section>

  <div class="about-me-details-container">
    <div class="about-me-bg">
      
    </div>
  </div>
</section> -->
<div class="about-area about-area1 section-padding" id="about">
  <div class="container">
      <div class="row">
          <div class="col-lg-5 align-self-center">
              <div class="about-shape">
                  <div class="about-img-section about-img-section1 text-center">
                      <a id="play-video" class="video-play-button" href="#" data-video-id="p_ph8Zx1Z9E"><span></span></a>
                      <div id="video-overlay" class="video-overlay open">
                        <a class="video-overlay-close"></a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 offset-lg-1 align-self-center">
              <div class="heading white">
                  <strong class="filltext">About us</strong>
                  <h2>Failure is the condiment
                  That Gives <span>Success</span></h2>
                  <p>Spend more time focusing on the important aspects of your business. Turn to McCartney HR LLC in Brooklyn, NY for HR solutions. As an advanced virtual HR company, we are offering online HR systems that can be customized depending on your business needs.</p>
              <a href="#" class="cbtn cbnt1 fadeInDown animated">download cv <i class="fal fa-angle-right"></i></a>
              </div>
          </div>
      </div>
  </div>
</div>
