<div class="container">
    <div class="search-box">
        <input type="text" />
        <span></span>
    </div>
</div>

<div class="about">


<p>

    Hi there,<br/>
    <br/>
    I'm Sai, I am from India. I'm a designer, developer, life long learner, and ready for new opportunities and currently a
    permanent employee in Wipro Technologies.
    <br/><br/><br/>
    I started working in Wipro on 2012 as part of work integrated course provided by the company after my graduation Bsc Computer Science.
    I,m Currently working as a Full Stack Engineer and fell in love with creative UI designing. I work in the field
    of Web designing, Cross platform and Hybrid application development for 6.5 years and have been front-end developer for 4.5 years.
    I'm a self taught developer and my current focus is on learning the ins and outs of becoming a Full Stack developer.
    <br/>
    <br/>
</p>
        <p>
     I'm also an android/iOS app developer have experience in Xamarnin cross platform development, android native development and Ionic Native development.
    As a developer I participated in agile methodologies: Scrum , products idealizations, test implementations, code reviews,
    refactoring, publishing processes, among others. I believe in user centered design and delivering the best possible experiences to people.
            <br/><br/>
            <br/>
    I have experience and knowledge with skills of <span>HTML, CSS, Bootstrap, Flexbox, Javascript, jQuery, Angular,
    JavaScript libraries and frameworks, IONIC frameworks, GIT, TortoiseSVN, Responsive Web Design, Cross Platform, Cross-browser,
    Java, C# , Objective C, Xamarin and Android Studio</span>.
</p>
        <p>
    A bit about me. I love music, the arts, tech and all things creative. But for now I'm just focussed on creating a decent portfolio.
</p>


</div>


<div class="bg"></div>
<div class="bg2"></div>

<div class="container">
    <div id="left">
        <h1>CryptoCurrencies</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque recusandae doloribus nulla dolorum, vitae ducimus tempore quisquam, maxime repellendus ipsam tenetur deleniti, odit quo consequatur deserunt commodi labore culpa repellat.</p>
    </div>
    <div id="right">
        <ul>
            <li>
                <img src="https://cdn.worldvectorlogo.com/logos/appcoins.svg" alt="Ti pidr">
                <span>
          <strong>AppCoins</strong>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.   </p>
        </span>
            </li>
            <li>
                <img src="https://cdn.worldvectorlogo.com/logos/ethos.svg" alt="">
                <span>
          <strong>Ethos</strong>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.   </p>
        </span>
            </li>
            <li>
                <img src="https://cdn.worldvectorlogo.com/logos/iota-1.svg" alt="">
                <span>
          <strong>Iota</strong>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.  </p>
        </span>
            </li>
        </ul>
    </div>
</div>




<div class="box">
    <div class="left">
        <h1>Tiago Serra</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit nobis dolore sunt saepe reiciendis quo.</p>
    </div>
    <div class="right">
        <a href="#">Contato!</a>
    </div>
</div>